@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  color: rgb(31, 31, 31);
  margin-top: 50px;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

.main-row {
 margin-top: 20px; 
}

.header-row {
  margin-bottom: 0px;
}

.nav-link {
  color: black;
  /* font-family: 'Noto Sans', sans-serif; */
}

.nav-link:hover {
  color: rgb(95, 95, 95);
}

.nav-link {
  display: inline;
}

.link-container {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}

.home-container {
  margin-top: 20%;
  text-align: center;
}