.list-container {
  margin-top: 50px;
}

.list-item {
  color:white;
}

.list-item:hover {
  color:blanchedalmond;
  cursor: crosshair;
}

.projectImg {
  width: 50%;
  height: auto;
  border: 1px solid white;
}

.link-button {
  padding: 15px;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 0;
  color: rgb(255, 255, 255);
}

.link-button:hover {
  cursor: pointer;
}