.list-container {
  margin-top: 50px;
}

.projectImg {
  width: 100%;
  height: auto;
}

.row {
  margin-bottom: 40px;
}

.title {
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.title:hover {
  color: rgb(110, 110, 110);
}