.skills-container {
  display: flex;
}

img {
  padding: 5px;
  width: 100%;
  height: auto;
}

.skill-container {
  margin-top: 50px;
  position: relative;
  text-align: center;
}

.label {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: rgb(31, 31, 31);
  font-weight: bold;
}

.skill-container:hover .label {
  display: block;
}

.skill-container:hover img {
  opacity: 0.1;
  transition: opacity 0.2s linear;
}

.skills-label {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
}