@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.App {
  color: white;
}

.main-row {
 margin-top: 50px; 
}
.nav-link {
  color: rgb(173, 173, 173);
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

